button:not(.ui-button) {
    display: block;
    cursor: pointer;
    border: 2px solid #0000;
    background: #26253688;
    font-weight: bold;
    font-size: 13px;
    color: white;
    width: 100%;
    max-width: 140px;
    min-height: 48px;
    box-sizing: border-box;
}

button:hover {
    border: 2px solid #80b8ff;
    background: #161526;
}

button:active {
    border: 2px solid #80b8ff;
    background: #0078a3 url("images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x;
}

.focused-button {
    border: 2px solid #80b8ff !important;
    background: #0078a3 url("images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x !important;
}

.toolbar-selected {
    border: 2px solid #80b8ff !important;
    background: #161526 !important;
}

.submit {
    display: block;
    cursor: pointer;
    border: 1px solid #666666;
    background: #555555 url("images/ui-bg_glass_20_555555_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
    font-size: 100%;
    color: white;
    line-height: 1.3;
    width: 100px;
    height: 40px;
    border-radius: 6px;
}

.submit:hover {
    cursor: pointer;
    border: 1px solid #59b4d4;
    background: #0078a3 url("images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x;
    font-weight: bold;
}

.unclickable {
    pointer-events: none !important;
    color: silver !important;
    background: grey !important;
}

.logo-container {
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.breadcrumb-container {
    height: 40px;
    display: flex;
    align-items: center;
    float: left;
}

.user-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.user-accordion {
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    height: 48px;
    border-radius: 0;
}

.navigation-bar {
    z-index: 10;
    width: 100%;
    position: fixed;
    background-color: #636480;
}

.tool-bar {
    width: 42px;
    height: calc(100% - 80px);
    float: left;
    background-color: #3d3e4d;
    position: fixed;
    top: 40px;
}

.tool-browse {
    width: 100%;
    height: 50%;
}

.tool-edit {
    width: 100%;
    height: 50%;
}

.content-container {
    width: calc(100% - 42px);
    height: calc(100% - 80px);
    float: right;
    overflow: scroll;
    padding-top: 40px;
}

.bottom-bar {
    height: 40px;
    width: 100%;
    background-color: #262635;
    position: fixed;
    bottom: 0;
}

.bottom-bar-status {
    height: 100%;
    float: left;
    align-items: center;
    padding-left: 8px;
    color: white;
    display: flex;
}

.bottom-bar-permanent {
    height: 100%;
    float: right;
    align-items: center;
    padding-right: 8px;
    color: white;
    display: flex;
}

.top-icon {
    width: 40px;
    height: 40px;
}

.top-icon:hover {
    border-radius: 8px;
    background-color: #26253633;
}

.top-icon:active {
    border-radius: 8px;
    background-color: #26253660;
}

.active-icon {
    border-radius: 8px;
    background-color: #26253660 !important;
}

.navigation-user-buttons {
    background-color: #636480;
    position: absolute;
    top: 40px;
    right: 0px;
}

.navigation-browse-buttons {
    background-color: #636480;
    position: absolute;
    width: 140px;
    top: 40px;
    left: 0;
}

.user-name {
    color: white;
    padding-right: 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 0;
}

.content-header {
    display: flex;
    justify-content: center;
}

.shortcut {
    color: #ff8080;
}

.tools-text {
}

.tools-icon {
    width: 30px;
    height: 30px;
    margin-right: 16px;
    float: left;
}

.force-collapse {
    width: 42px !important;
}

.force-expand {
    width: 140px !important;
}

@media screen and (max-width: 700px) {
    .logo-container {
        width: 50%;
    }    

    .shortcut {
        color: white;
    }

    .user-container {
        width: 50%;
    }

    .breadcrumb-container {
        display: none;
    } 
}

/*@media screen and (max-width: 550px) {
    .tools-text {
        display: none;
    }

    button:not(.ui-button) {
        max-width: none;
    }

    .navigation-user-buttons {
        width: 100%;
    }

    .navigation-browse-buttons {
        width: 100%;
    }
}*/
