:root {
    --header-color: #636480;
    --header-icon-hover-color: #26253633;
    --header-icon-active-color: #26253660;
    --header-app-browse-color: #636480;
    --header-user-browse-color: #636480;
    --header-user-name-color: #ffffff;

    --content-color: #f2f2ff;
    --content-group-color: #dfdfff;
    --content-group-header-color: #adadff;
    --content-group-title-color: #c0c0ff;
    --content-group-warning-color: #ff405f;
    --content-group-link-color: #767696;
    --content-group-link-active-color: #767696;
    
    --crud-color: #3d3e4d;
    --crud-extension-color: #262635;
    --crud-shortcut-color: #ff8080;
    --crud-selected-button-color: #000016;
    --crud-delimiter-color: #636480;
    
    --framework-button-color: #26253688;
    --framework-unclickable-color: #545454;
    --framework-hover-color: #161526;
    --framework-hover-border-color: #80b8ff;
    --framework-active-border-color: #80b8ff;
    --framework-link-color: #ffffff;
    --framework-link-active-color: #9accff;
    
    --input-invalid-color: #ffc0df;
    --input-invalid-border-color: #ff6080;
    
    --footer-color: #262635;
    --footer-state-color: #ffffff;
    --footer-permanent-color: #ffffff;
}
