/* Content styling */
.content-container {
    width: 100%;
    height: calc(100% - 80px);
    overflow-y: auto;
    top: 40px;
    position: relative;
    box-sizing: border-box;
    padding: 8px;
    background-color: var(--content-color);
}

.content-text {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
}

.content-header {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}

.content-group {
    background-color: var(--content-group-color);
    width: calc(50% - 16px);
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
}

.content-group-header {
    font-weight: bold;
    text-align: center;
    background-color: var(--content-group-header-color);
    border-radius: 8px;
}

.content-group-title {
    font-weight: bold;
    text-align: center;
    display: inline-block;
    min-width: 50%;
    background-color: var(--content-group-title-color);
    border-radius: 8px;
    padding: 0 8px;
}

.content-group-warning {
   color: var(--content-group-warning-color);
   font-weight: bold;
   text-align: center;
   display: inline-block;
   font-size: 14px;
}

/* Link styling */
.content-group-link {
    background-color: transparent;
    border: none;
    color: var(--content-group-link-color);
    cursor: pointer;
}

.content-group-link:hover {
    text-decoration: underline;
}

.content-group-link:active {
    color: var(--content-group-link-active-color);
}

.content-list {
    background-color: var(--content-list-color);
    width: 100%;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    box-sizing: border-box;
    overflow-x: auto;
}

.content-list-header {
    font-weight: bold;
    text-align: center;
    background-color: var(--content-list-header-color);
}

.content-list-item {
    text-align: center;
}

.content-list-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 4px 0;
}

.content-list-table > tbody > tr:not(:first-child):nth-child(odd) {
    background-color: var(--content-list-secondary-color);
}

.content-list-item-selected {
    background-color: var(--content-list-selected-color) !important;
}
