/* Button styling */
.framework-button {
    display: block;
    cursor: pointer;
    border: 2px solid #0000;
    background: var(--framework-button-color);
    font-weight: bold;
    font-size: 13px;
    color: white;
    width: 100%;
    max-width: 140px;
    min-height: 42px;
    box-sizing: border-box;
}

.framework-button:hover {
    border: 2px solid var(--framework-hover-border-color);
    background: var(--framework-hover-color);
}

.framework-button:active {
    border: 2px solid var(--framework-active-border-color) !important;
    background: 50% 50% !important;
    /*background: url("images/ui-bg_glass_40_0078a3_1x400.png") 50% 50% repeat-x !important;*/
}

input:invalid {
    background-color: var(--input-invalid-color);
    outline: 2px solid var(--input-invalid-border-color);
    border-radius: 5px;
}

.framework-unclickable {
    filter: grayscale(100%);
    background: var(--framework-unclickable-color) !important;
    border: 2px solid transparent !important;
    cursor: default;
}

.framework-unclickable:active {
    filter: grayscale(100%);
    background: var(--framework-unclickable-color) !important;
    border: 2px solid transparent !important;
    cursor: default;
}

/* Link styling */
.framework-link {
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: var(--framework-link-color);
    cursor: pointer;
}

.framework-link:hover {
    text-decoration: underline;
}

.framework-link:active {
    color: var(--framework-link-active-color);
}


/* Responsive layout */
@media screen and (max-width: 640px) {
    .header-app-parent {
        justify-content: left;
    }

    .header-user-parent {
        justify-content: right;
    }

    .header-breadcrumb-parent {
        display: none;
    }

    .shortcut {
        color: white;
    }

    .content-group {
        width: 100%;
    }
}

