/* Container styling */
.header {
    z-index: 10;
    height: 40px;
    width: 100%;
    position: fixed;
    background-color: var(--header-color);
}


/* App panel styling */
.header-app-parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.header-icon {
    height: 40px;
}

.header-icon:hover {
    border-radius: 8px;
    background-color: var(--header-icon-hover-color);
}

.header-icon:active {
    border-radius: 8px;
    background-color: var(--header-icon-active-color);
}

.header-icon-active {
    border-radius: 8px;
    background-color: var(--header-icon-active-color) !important;
}

.header-app-browse-parent {
    background-color: var(--header-app-browse-color);
    position: absolute;
    width: 140px;
    top: 40px;
    left: 0;
    max-height: calc(100vh - 100%);
    overflow-y: auto;
}

.header-app-browse-parent:visible {
    transition: opacity 0.5s ease-in-out;
}


/* Breadcrumb styling */
.header-breadcrumb-parent {
    height: 40px;
    margin: 0 16px;
    display: flex;
    align-items: center;
    float: left;
}


/* User panel styling */
.header-user-parent {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
}

.header-user-name {
    color: var(--header-user-name-color);
    padding-right: 6px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 0;
}

.header-user-browse-parent {
    background-color: var(--header-user-browse-color);
    position: absolute;
    top: 40px;
    right: 0px;
    max-height: calc(100vh - 100%);
    overflow-y: auto;
}

